## OSX artifacts
.DS_Store

## General build artifacts
*.o
*.obj
*.exe

## Visual Studio artifacts
.vs
ipch
*.opensdf
*.log
*.pdb
*.ilk
*.user
*.sdf
*.suo
*.VC.db
*.VC.VC.opendb

## Xcode artifacts
project.xcworkspace
xcuserdata

## JetBrains IDE artifacts
.idea
cmake-build-*

# Lithe-specific
# Directories
bin/
bin-int/

 # Files
Makefile 

# Visual Studio files and folder
*.sln
*.vcxproj*
